.content-nav{
    background-color: #d1fae5; 
    position: fixed; 
    margin-top: 70px; 
    width: 1000px; 
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}

.content-nav{
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    padding: 0;
}

.content-nav ul{
    list-style: none;
}

.content-nav li{
    display: inline-block; 
    margin: 0 10px;
}

*{
    scroll-padding-top: 140px;
}

header{
    margin-top: 50px;
}

.content-nav a{
    margin: 0 10px;
    color: #16502d;
    text-decoration: none;
    font-weight: bold;
}

.content-nav a:hover{
    background-color: #55c17c;
}

.cont-img{
    width: 100%;
    max-width: 550px;
    margin: 25px auto;
    display: block;
    border: 2px solid #15803d;
    border-radius: 8px;
}

a.top-button{
    position: fixed;
    bottom: 3%;
    right: 20%;
}

a.top-button{
    padding: 10px 20px;
    background-color: #15803d;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

a.top-button:hover{
    background-color: #166534;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}